

h2 {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 32px;
  line-height: 40px;
  font-family: "Montserrat";
  color: #172339;
}

h4 {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 24px;
  line-height: 40px;
  font-family: "Montserrat";
}
.tabs_text {
  position: relative;
  display: flex;
  margin-bottom: 40px;
}

.tabs_item {
  width: 76px;

}
.unity_txt {
  padding: 2px 16px 2px 16px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 6px;
}

.ideas_txt {
  padding: 2px 16px 2px 16px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 6px;
  color: #C0C0C0;
  img {
    padding-left: 5px;
  }
}

.active_line {
  width: 100%;
  height: 2px;
  background-color: #000000;
  }

.inactive_line {
  width: 100%;
  height: 2px;
  background-color: #00000000;
  }







.bottomLine {
  z-index: -1;
  position: absolute;
  bottom: 0px;
  display: block;
  width: 100%;
  height: 1px;
  background: #DBDBDB;
}
.frame_wrapper {
  margin-bottom: 40px;
  height: 208px;
}
.frame {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 152px;
}
.link {
  font-weight: 400;
  font-family: "Montserrat";
  text-decoration: none;
  color: #047337;
  &:hover {
    text-decoration: underline;
    // color: #000000;
  }
}


@media (max-width: 4000px) {
  .container {
    margin: 65px 300px 99px 300px;
  }
}
@media (max-width: 1920px) {
  .container {
    margin: 65px 300px 99px 300px;
  }
}

@media (max-width: 1440px) {
  .container {
    margin: 65px 180px 99px 180px;
  }
}
@media (max-width: 1280px) {
  .container {
    margin: 65px 100px 99px 100px;
  }
}
@media (max-width: 640px) {
  .container {
    margin: 30px 24px 30px 24px;
  }
  .frame_wrapper {
    margin-bottom: 24px;
    height: 258px;
  }
  .frame {
    height: 180px;
  }
}

@media (max-width: 360px) {
  .container {
    margin: 30px 24px 30px 24px;
  }
  .frame_wrapper {
    margin-bottom: 24px;
    height: 278px;
  }
  .frame {
    height: 230px;
  }
}