.h3 {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 40px;
  line-height: 40px;
  font-family: "Montserrat";
}

.headMenu {
  padding: 24px 57px 24px 0px;
  margin-bottom: 16px;
  a {
    font-weight: 400;
    font-family: "Montserrat";
    text-decoration: none;
    color: #818387;
  }
  a:first-child {
    padding-right: 10px;
  }
  a:last-child:hover {
    color: #404042;
  }
}

@media (max-width: 4000px) {
  .container {
    margin: 65px 300px 99px 300px;
  }
}
@media (max-width: 1920px) {
  .container {
    margin: 65px 300px 99px 300px;
  }
}

@media (max-width: 1440px) {
  .container {
    margin: 65px 180px 99px 180px;
  }
}
@media (max-width: 1280px) {
  .container {
    margin: 65px 100px 99px 100px;
  }
}