.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.inline_robots_bg {
  height: 594px;
  display: block;
    position: relative;
  }

  .img_robotsinline {
    position: absolute;
    display: block;
    margin:0 70px;
    /* left: 87px; */
    z-index: -1;
  }
.container {
margin: 100px;
}
.main_txt {
  font-family: 'Montserrat Alternates', sans-serif;
font-size: 39px;
font-weight: 600;
}
.country {
  margin-top: 50px;
  font-family: 'Montserrat Alternates', sans-serif;
font-size: 39px;
font-weight: 400;
}